body
{
   background-color: #2D2D2D;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_menuphone
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   animation: animate-fade-in-left 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
}
#menuphone
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#menuphone > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#menuphone > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#menuphone > .row > .col-1
{
   float: left;
}
#menuphone > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#menuphone:before,
#menuphone:after,
#menuphone .row:before,
#menuphone .row:after
{
   display: table;
   content: " ";
}
#menuphone:after,
#menuphone .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#menuphone > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_OverlayMenu1
{
   position: relative;
}
#OverlayMenu1
{
   background-color: #424242;
   background-image: none;
   border: 0px solid #424242;
   border-radius: 0px;
   margin: 0;
}
#OverlayMenu1:hover
{
   background-color: #CCCCCC;
   background-image: none;
   border-color: #424242;
}
#OverlayMenu1
{
   display: block;
   width: 46px;
   height: 45px;
   position: relative;
   overflow: hidden;
}
#OverlayMenu1 .line
{
   width: 32px;
   height: 6px;
   position: relative;
   top: 2px;
   background: #FFFFFF;
   display: block;
   margin: 6px auto;
}
#OverlayMenu1:hover .line
{
   background: #424242;
}
#OverlayMenu1-close
{
   background: transparent;
   font-size: 10px;
   height: 2.8em; 
   outline: none;
   position: absolute;
   right: 10px;
   text-align: left;
   top: 10px;
   width: 3em; 
}
#OverlayMenu1-close:before, #OverlayMenu1-close:after
{
   background: #FFFFFF;
   content: "";
   display: block;
   height: 0.6em;
   left: 0;
   opacity: 1;
   position: absolute;
   top: 0;
   width: 100%;
}
#OverlayMenu1-close span
{
   background: #FFFFFF;
   height: 0.6em;
   margin-top: -0.3em;
   position: absolute;
   top: 50%;
   transform-origin: 50% 50%;
   width: 100%;
}
#OverlayMenu1-close span::after
{
   background: #FFFFFF;
   content: "";
   display: block;
   height: 0.6em;
   position: absolute;
   transform-origin: 50% 50%;
   width: 100%;
}
#OverlayMenu1-close:before
{
   margin-top: -0.3em;
   opacity: 0;
   top: 50%;
}
#OverlayMenu1-close:after
{
   bottom: 50%;
   opacity: 0;
}
#OverlayMenu1-close span
{
   background: #FFFFFF;
   transform: rotate(-45deg);
}
#OverlayMenu1-close span:after
{
   background: #FFFFFF;
   transform: rotate(-90deg);
}
#OverlayMenu1-overlay
{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   left: 0;
   overflow-y: auto;
   position: fixed;
   top: -100%;
   width: 100%;
   z-index: -1;
   background-color: rgba(122,122,122,0.87);
}
#OverlayMenu1-overlay ul
{
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   text-decoration: none;
   list-style: none;
   margin: 0;
   padding: 0;
}
.OverlayMenu1
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   width: 100%;
   max-width: 970px;
}
.OverlayMenu1 a
{
   text-decoration: none;
}
.OverlayMenu1 ul
{
   list-style: none;
   padding: 0;
   text-align: center;
}
.OverlayMenu1 li
{
   position: relative;
}
.OverlayMenu1 li a
{
   display: block;
   position: relative;
   padding: 10px 15px 10px 15px;
   color: #FFFFFF;
   outline: none;
}
.OverlayMenu1 li a:hover
{
   color: #424242;
}
.OverlayMenu1-effect:before
{
   background-color: #CCCCCC;
}
#OverlayMenu1-overlay
{
   transition: all 400ms ease-in;
}
#OverlayMenu1-overlay.show
{
   top: 0;
   z-index: 7778 !important;
}
.OverlayMenu1 li.drilldown-back > a 
{
   padding-left: 40px;
   background: rgba(0,0,0,0.1);
}
.OverlayMenu1 li.drilldown-back > a:hover
{
   background-color: #CCCCCC;
}
.OverlayMenu1 li.drilldown-back a:after,
.OverlayMenu1 li > a:not(:only-child):after
{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 9px;
   border-left: 9px solid #FFFFFF;
   border-top: 7px solid transparent;
   border-bottom: 7px solid transparent;
   border-right: 0 dotted;
   content: " ";
}
.OverlayMenu1 li.drilldown-back a:after
{
   left: 9px;
   color: #FFFFFF;
   transform: translateY(-50%) rotate(180deg);
}
.OverlayMenu1 li.drilldown-back a:hover:after,
.OverlayMenu1 li > a:not(:only-child):hover:after
{
   border-left-color: #424242;
}
.OverlayMenu1 li > a:after
{
   color: rgba(0,0,0,0.15);
   right: 10px;
}
.OverlayMenu1 .drilldown-menu 
{
   margin: 0;
   width: 100%;
}
.OverlayMenu1 li .drilldown-submenu 
{
   display: none;
}
.drilldown-menu.drilldown-subview li,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > a,
.drilldown-menu.drilldown-subview li.drilldown-subview > a 
{
   display: none;
}
.drilldown-menu.drilldown-subview li.drilldown-subview,
.drilldown-menu.drilldown-subview li.drilldown-subview .drilldown-submenu,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > .drilldown-submenu,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > .drilldown-submenu > li 
{
   display: block;
}
.OverlayMenu1 > .drilldown-submenu
{
   left: 0;
   margin: 0;
   position: absolute;
   top: 50px;
   width: 100%;
}
#OverlayMenu1-overlay .overlay-icon
{
   margin: 0 10px 0 0 ;
}
#OverlayMenu1-social
{
   padding: 40px 0 0 0;
}
#OverlayMenu1-social .social-icon 
{
   border-radius: 50%;
   background-color: #FFFFFF;
   color: #7A7A7A;
   display: inline-block;
   font-size: 19px;
   margin: 0 .5em;
   padding: 7px;
   transition: all .2s linear 0s;
   width: 19px;
}
#OverlayMenu1-social .social-icon:hover 
{
   background-color: #424242;
   color: #CCCCCC;
}
.OverlayMenu1-effect
{
   display: inline-block;
   transform: perspective(0px) translateX(0);
   position: relative;
   transition: color 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.OverlayMenu1-effect:before 
{
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: -1;
   transform: scaleX(0);
   transform-origin: 0 50%;
   transition: all 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.OverlayMenu1-effect:hover:before, .OverlayMenu1-effect:focus:before, .OverlayMenu1-effect:active:before
{
   transform: scaleX(1);
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('../images/index_LayoutGrid1_bkgrnd.png');
   background-repeat: repeat;
   background-position: left top;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   animation: background-position-top-left 40000ms linear 0ms infinite normal both, animate-fade-in-down 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
}
#LayoutGrid1
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 10px 0 20px 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid1
{
   width: 1250px;
}
#LayoutGrid1 > .col-1
{
   flex: 0 0 auto;
}
#LayoutGrid1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#LayoutGrid1
{
   width: 100%;
}
#LayoutGrid1 > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_categoriesText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 10px 0 20px 0;
   margin: 0;
   text-align: center;
}
#wb_categoriesText2 div
{
   text-align: center;
}
#wb_categoriesText2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_categoriesText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 5px 0 0 0;
   margin: 0;
   text-align: center;
}
#wb_categoriesText1 div
{
   text-align: center;
}
#wb_categoriesText1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 5px 0 5px 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text1
{
   display: inline-block;
   margin: 0;
   width: 239px;
   height: 15px;
}
#wb_otdel
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#otdel
{
   box-sizing: border-box;
   padding: 0 10px 20px 10px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#otdel > .row
{
   margin-right: -10px;
   margin-left: -10px;
}
#otdel > .row > .col-1, #otdel > .row > .col-2, #otdel > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#otdel > .row > .col-1, #otdel > .row > .col-2, #otdel > .row > .col-3
{
   float: left;
}
#otdel > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#otdel > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 0 0 10px 0;
}
#otdel > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#otdel > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#otdel:before,
#otdel:after,
#otdel .row:before,
#otdel .row:after
{
   display: table;
   content: " ";
}
#otdel:after,
#otdel .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#otdel > .row > .col-1, #otdel > .row > .col-2, #otdel > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_pcversion
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   animation: transform-scale-in 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
}
#pcversion
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0 0 20px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#pcversion > .col-1, #pcversion > .col-2, #pcversion > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#pcversion
{
   width: 1250px;
}
#pcversion > .col-1, #pcversion > .col-2, #pcversion > .col-3
{
   flex: 0 0 auto;
}
#pcversion > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#pcversion > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 0 0 10px 0;
}
#pcversion > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#pcversion > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#pcversion
{
   width: 100%;
}
#pcversion > .col-1, #pcversion > .col-2, #pcversion > .col-3
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Image5
{
   height: 100%;
   margin: 0;
   position: relative;
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 10px;
   box-sizing: border-box;
   padding: 0;
   box-shadow: 0px 0px 10px #000000;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: cover;
}
#Image5-overlay
{
   position: absolute;
   pointer-events: none;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-color: rgba(255,255,255,1.00);
   color: #000000;
   opacity: 0.78;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   margin: 0;
   padding: 8px 16px 8px 16px;
   text-align: center;
}
#Image5
{
   filter: brightness(100%);
   transition: filter 500ms linear 0ms;
}
#Image5:hover
{
   filter: brightness(50%);
   transition: filter 500ms linear 0ms;
}
#wb_Image9
{
   height: 100%;
   margin: 0;
   position: relative;
   vertical-align: top;
}
#Image9
{
   border: 0px solid #000000;
   border-radius: 10px;
   box-sizing: border-box;
   padding: 0;
   animation: animate-fade-in-down 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   box-shadow: 0px 0px 10px #000000;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: cover;
}
#Image9-overlay
{
   position: absolute;
   pointer-events: none;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-color: rgba(255,255,255,1.00);
   color: #000000;
   opacity: 0.78;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   margin: 0;
   padding: 8px 16px 8px 16px;
   text-align: center;
}
#Image9
{
   filter: brightness(100%);
   transition: filter 500ms linear 0ms;
}
#Image9:hover
{
   filter: brightness(50%);
   transition: filter 500ms linear 0ms;
}
#wb_Image10
{
   height: 100%;
   margin: 0;
   position: relative;
   vertical-align: top;
}
#Image10
{
   border: 0px solid #000000;
   border-radius: 10px;
   box-sizing: border-box;
   padding: 0;
   animation: animate-fade-in-down 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   box-shadow: 0px 0px 10px #000000;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: cover;
}
#Image10-overlay
{
   position: absolute;
   pointer-events: none;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-color: rgba(255,255,255,1.00);
   color: #000000;
   opacity: 0.78;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   margin: 0;
   padding: 8px 16px 8px 16px;
   text-align: center;
}
#Image10
{
   filter: brightness(100%);
   transition: filter 500ms linear 0ms;
}
#Image10:hover
{
   filter: brightness(50%);
   transition: filter 500ms linear 0ms;
}
#wb_Image11
{
   height: 100%;
   margin: 0;
   position: relative;
   vertical-align: top;
}
#Image11
{
   border: 0px solid #000000;
   border-radius: 10px;
   box-sizing: border-box;
   padding: 0;
   animation: animate-fade-in-down 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   box-shadow: 0px 0px 10px #000000;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: cover;
}
#Image11-overlay
{
   position: absolute;
   pointer-events: none;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-color: rgba(255,255,255,1.00);
   color: #000000;
   opacity: 0.78;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   margin: 0;
   padding: 8px 16px 8px 16px;
   text-align: center;
}
#Image11
{
   filter: brightness(100%);
   transition: filter 500ms linear 0ms;
}
#Image11:hover
{
   filter: brightness(50%);
   transition: filter 500ms linear 0ms;
}
#wb_Image12
{
   height: 100%;
   margin: 0;
   position: relative;
   vertical-align: top;
}
#Image12
{
   border: 0px solid #000000;
   border-radius: 10px;
   box-sizing: border-box;
   padding: 0;
   animation: animate-fade-in-down 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   box-shadow: 0px 0px 10px #000000;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: cover;
}
#Image12-overlay
{
   position: absolute;
   pointer-events: none;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-color: rgba(255,255,255,1.00);
   color: #000000;
   opacity: 0.78;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   margin: 0;
   padding: 8px 16px 8px 16px;
   text-align: center;
}
#Image12
{
   filter: brightness(100%);
   transition: filter 500ms linear 0ms;
}
#Image12:hover
{
   filter: brightness(50%);
   transition: filter 500ms linear 0ms;
}
#wb_Image13
{
   height: 100%;
   margin: 0;
   position: relative;
   vertical-align: top;
}
#Image13
{
   border: 0px solid #000000;
   border-radius: 10px;
   box-sizing: border-box;
   padding: 0;
   animation: animate-fade-in-down 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   box-shadow: 0px 0px 10px #000000;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: cover;
}
#Image13-overlay
{
   position: absolute;
   pointer-events: none;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-color: rgba(255,255,255,1.00);
   color: #000000;
   opacity: 0.78;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   margin: 0;
   padding: 8px 16px 8px 16px;
   text-align: center;
}
#Image13
{
   filter: brightness(100%);
   transition: filter 500ms linear 0ms;
}
#Image13:hover
{
   filter: brightness(50%);
   transition: filter 500ms linear 0ms;
}
#wb_Image14
{
   height: 100%;
   margin: 0;
   position: relative;
   vertical-align: top;
}
#Image14
{
   border: 0px solid #000000;
   border-radius: 10px;
   box-sizing: border-box;
   padding: 0;
   animation: animate-fade-in-down 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   box-shadow: 0px 0px 10px #000000;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: cover;
}
#Image14-overlay
{
   position: absolute;
   pointer-events: none;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-color: rgba(255,255,255,1.00);
   color: #000000;
   opacity: 0.78;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   margin: 0;
   padding: 8px 16px 8px 16px;
   text-align: center;
}
#Image14
{
   filter: brightness(100%);
   transition: filter 500ms linear 0ms;
}
#Image14:hover
{
   filter: brightness(50%);
   transition: filter 500ms linear 0ms;
}
#wb_Image15
{
   height: 100%;
   margin: 0;
   position: relative;
   vertical-align: top;
}
#Image15
{
   border: 0px solid #000000;
   border-radius: 10px;
   box-sizing: border-box;
   padding: 0;
   box-shadow: 0px 0px 10px #000000;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: scale-down;
}
#Image15-overlay
{
   position: absolute;
   pointer-events: none;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-color: rgba(255,255,255,1.00);
   color: #000000;
   opacity: 0.78;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   margin: 0;
   padding: 8px 16px 8px 16px;
   text-align: center;
}
#Image15
{
   filter: brightness(100%);
   transition: filter 500ms linear 0ms;
}
#Image15:hover
{
   filter: brightness(50%);
   transition: filter 500ms linear 0ms;
}
#wb_Image16
{
   height: 100%;
   margin: 0;
   position: relative;
   vertical-align: top;
}
#Image16
{
   border: 0px solid #000000;
   border-radius: 10px;
   box-sizing: border-box;
   padding: 0;
   box-shadow: 0px 0px 10px #000000;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: cover;
}
#Image16-overlay
{
   position: absolute;
   pointer-events: none;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-color: rgba(255,255,255,1.00);
   color: #000000;
   opacity: 0.78;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   margin: 0;
   padding: 8px 16px 8px 16px;
   text-align: center;
}
#Image16
{
   filter: brightness(100%);
   transition: filter 500ms linear 0ms;
}
#Image16:hover
{
   filter: brightness(50%);
   transition: filter 500ms linear 0ms;
}
#wb_Icon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Icon1 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_Icon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #F5F5F5;
}
#Icon1
{
   height: 33px;
   width: 36px;
}
#Icon1 i
{
   color: #D3D3D3;
   display: inline-block;
   font-size: 33px;
   line-height: 33px;
   vertical-align: middle;
   width: 32px;
}
#wb_Icon1:hover #Icon1 i
{
   color: #337AB7;
}
